@use "../../styles/variables";

.button {
  width: 100%;
  font-weight: 400;
  letter-spacing: -0.00688rem;
  text-align: center;
  border-radius: 16px;

  font-size: 16px;
  width: 280px;
  padding: 14px 0px;
  line-height: 19px;

  @media screen and (min-width: 375px) {
    width: 327px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 310px;
    padding: 18px 0px;
    line-height: 24px;
  }

  &_support {
    background-color: var(--bgc-button-main);
    border: none;
  }

  &_share {
    background-color: var(--bgc-button-second);
    border: 1px solid var(--border-button);
  }
}
