@use "../../styles/variables";

.button {
  position: relative;
  width: 280px;
  padding: 14px 20px;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--primary-font);

  @media screen and (min-width: 375px) {
    width: 327px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 310px;
    padding: 18px 20px;
    line-height: 24px;
  }

  &_support {
    background-color: var(--bgc-button-main);
    border: none;
  }

  &_share {
    background-color: var(--bgc-button-second);
    border: 1px solid var(--border-button);
  }

  &_copyLink {
    background-color: var(--bgc-button-main);
    border: none;
  }

  &:hover .iconWrapper {
    visibility: visible;
    transform: translateX(210px);
    @media screen and (min-width: 375px) {
      transform: translateX(260px);
    }
    @media screen and (min-width: 768px) {
      transform: translateX(225px);
    }
  }

  &:hover .textWrapper {
    transform: translateX(-78px);
    @media screen and (min-wdth: 375px) {
      transform: translateX(-100px);
    }
    @media screen and (min-width: 768px) {
      transform: translateX(-80px);
    }
  }

  &:hover .iconShareWrapper {
    transform: rotate(240deg);
  }
}

.iconWrapper {
  visibility: hidden;
  position: absolute;
  bottom: 15px;
  transition: transform 0.3s ease-in-out;
  @media screen and (min-width: 768px) {
    bottom: 18px;
  }
}

.iconShareWrapper {
  position: absolute;
  bottom: 15px;
  left: 230px;
  transition: transform 0.3s ease-in-out;
  @media screen and (min-width: 375px) {
    left: 280px;
  }
  @media screen and (min-width: 768px) {
    left: 250px;
    bottom: 18px;
  }
}

.iconCopyLinkWrapper {
  display: none;
}

.textWrapper {
  transition: transform 0.3s ease-in-out;
}

.textShareWrapper {
  display: flex;
  justify-content: flex-start;
}

.textCopyLinkWrapper {
  display: flex;
  justify-content: center;
}
