@font-face {
  font-family: "Strong";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
    // url("../assets/fonts/Strong-Regular.ttf") format("ttf");
    url("../assets/fonts/Strong-Regular.otf") format("otf");
  // url("../assets/fonts/Strong-Regular.woff") format("woff"),
  // url("../assets/fonts/Strong-Regular.woff2") format("woff2");
}
