@import "./fonts";

:root {
  --primary-font: "Strong";

  // COLORS
  // font-colors
  --fc-headline: hsla(31, 75%, 14%, 1);
  // background colors
  --bgc-button-main: hsla(43, 100%, 64%, 1);
  --bgc-button-second: transparent;
  // border colors
  --border-button: hsla(31, 75%, 14%, 1);
  // slider-dots colors
  --slider-dots: rgb(156, 163, 175);
  // slider-dots-active colors
  --slider-dots-active: rgb(32, 32, 29);
}
