@import "./reset";
@import "./fonts";
@import "./variables";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--primary-font);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  // min-width: 320px;
  padding: 0 24px;
  @media screen and (min-width: 768px) {
    padding: 0px 64px;
  }
}

.slick-list {
  height: 259px;
  @media screen and (min-width: 768px) {
    height: 671px;
  }
}
.slick-slider {
  height: 282px;
  @media screen and (min-width: 768px) {
    height: 727px;
  }
}

.slick-dots {
  bottom: 3px;
}
.slick-dots li,
.slick-dots li button {
  padding: 0;
  width: 14px;
  height: 6px;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 12px;
  }
}
.slick-dots li button:before {
  color: var(--slider-dots);
  font-size: 6px;
  opacity: 1;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.slick-dots li.slick-active button:before {
  width: 14px;
  height: 6px;
  border-radius: 12px;
  border: none;
  background-color: var(--slider-dots-active);
  opacity: 1;
  content: "";
  top: 6px;
}

@media screen and (min-width: 768px) {
  .slick-dots li.slick-active button:before {
    width: 24px;
    height: 12px;
    top: 2px;
  }
}
