@import "./reset";
@import "./fonts";
@import "./variables";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--primary-font);

  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  // min-width: 320px;
  padding: 0 24px;
  @media screen and (min-width: 768px) {
    padding: 0px 64px;
  }
}
